/* !Fonts */
@font-face {
  font-family: "Actor-Regular";
  src: url("/font/Actor-Regular.ttf");
}

@font-face {
  font-family: "BebasNeue Regular";
  src: url("/font/BebasNeue Regular.otf");
}

@font-face {
  font-family: "gilroy-regular";
  src: url("/font/gilroy-regular.woff2");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("/font/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("/font/Poppins-Light.ttf");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("/font/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("/font/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("/font/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Wulkan Display Regular";
  src: url("/font/Wulkan Display Regular.otf");
}

@font-face {
  font-family: "Wulkan Display Medium";
  src: url("/font/Wulkan Display Medium.otf");
}

@font-face {
  font-family: "Wulkan Display Medium Italic";
  src: url("/font/Wulkan Display Medium Italic.otf");
}

body {
  background: #f7f7f7;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/* container
================ */
.container {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

/* !header */
.samarkand {
  background: url(/img/samarkand.jpg);
  background-repeat: no-repeat;
  background-position: top;
}

.khiva {
  background: url(/img/khiva.jpg);
  background-repeat: no-repeat;
  background-position: top;
}

.bukhara {
  background: url(/img/bukhara.jpg);
  background-repeat: no-repeat;
  background-position: top;
}

.uzbekiston {
  background: url(/img/uzbekiston_slider.jpg);
  background-repeat: no-repeat;
  background-position: top;
}

header {
  padding: 38px 0;
}

.nav__content {
  display: flex;
  padding-top: 27px;
  justify-content: space-between;
  align-items: center;
}

/* !nav */

.nav {
  display: flex;
  gap: 2rem;
}

.nav__item {
  color: white;
  font-family: "gilroy-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

.nav__social {
  display: flex;
  gap: 1rem;
}

.samarkand__content {
  padding-top: 173px;
  padding-bottom: 551px;
}

.khiva__content {
  padding-top: 545px;
  padding-bottom: 179px;
}

.bukhara__content {
  padding-top: 603px;
  padding-bottom: 120px;
}

.uzbekiston__content {
  padding-top: 703px;
  padding-bottom: 19px;
}

.bottom_button {
  height: 73px;

  align-items: center;
  justify-content: space-between;
  background-color: rgba(24, 24, 24, 0.5);
}

.bottom_button.intro {
  background-color: transparent;
}

.content__button {
  display: flex;
  justify-content: space-between;

  margin: 0 66px;
}

.content__button h5 {
  font-family: "gilroy-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

  align-items: center;
  text-align: center;

  color: #ffffff;
}

.swiper-button-next,
.swiper-button-prev {
  width: 36px;
  height: 36px;
  top: 96.5%;

  background: rgba(255, 255, 255, 0.24);
  border-radius: 76px;

  color: #fff;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 16px;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
}

.swiper-pagination-bullet-active {
  background-color: #fff;
}

.intro__title {
  font-family: "Wulkan Display Regular";
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 100px;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.intro__subtitle {
  font-family: "Actor-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  text-align: center;

  color: #ffffff;
}

.nav__social a i {
  color: white;
  font-size: 25px;
}

.video-popup {
  display: flex;
  margin-top: 40px;
  gap: 20.94px;
  justify-content: center;
  text-align: center;
}

.video-popup.style-2 a {
  color: #fff;
}

.btn-play {
  position: relative;
  width: 31.71px;
  height: 31.71px;
  display: inline-block;
  background: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  text-align: center;
  color: #fff;
}

.video-popup a i {
  color: rgb(62, 67, 109);
  width: 14.01px;
  height: 14.01px;
  margin: 8.85px;
}

.style-2 .circle-1,
.style-2 .circle-2 {
  border-color: #fff;
}

.video-popup a span {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(255, 255, 255, 0.8);
  animation: circle-fade-before 2s infinite ease-in-out;
  -webkit-animation: circle-fade-before 2s infinite ease-in-out;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}

.video-popup a .circle-2 {
  animation: circle-fade-after 2s infinite ease-in-out;
  -webkit-animation: circle-fade-after 2s infinite ease-in-out;
}

.style-2 .circle-1,
.style-2 .circle-2 {
  border-color: #fff;
}

.video-popup > a {
  font-family: "Actor-Regular";
  font-style: normal;
  color: #fff;
  text-decoration: underline;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;
}

@keyframes circle-fade-before {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}
@keyframes circle-fade-after {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

/* !destionations */

.destionations {
  background: url(/img/background-1.png);
}

.destionations__content {
  padding-top: 124px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.destionations__left {
  font-family: "BebasNeue Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  text-align: start;
  text-transform: uppercase;

  color: #31c0ff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  height: 30px;
}

/* li a {
  color: #a4a4a4;
}

li a:hover {
  padding-bottom: 4px;
  border-bottom: 3px solid #0fbeff;
}  */

.wrapper_tab-content {
  position: relative;
}

.tabs {
  gap: 20px;
}

.tab-content {
  position: absolute;
  padding: 1.75em 0;
  visibility: hidden;
  height: 0;
}

.tab-content h1 {
  font-size: 1.12em;
  margin-bottom: 0.5em;
}

.tab-item a {
  font-family: "gilroy-regular";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 28px;
  /* identical to box height */

  text-align: center;
  text-transform: uppercase;

  color: #000000;
}

.content-visible {
  position: static;
  visibility: visible;
  height: auto;
}

.active {
  color: #444;
  padding-bottom: 4px;
  border-bottom: 3px solid #0fbeff;
}

/* !Uzbekistan */

.uzb__background {
  background: url(/img/Uzbekiston.png);
  background-repeat: no-repeat;
  height: 100%;
}

.uzb__content {
  margin-top: 103px;
}

.uzb__img {
  width: 100%;
  margin-left: -210px;
  object-fit: cover;
}

.uzb__block {
  display: block;
}

.uzb__text {
  margin-top: 80px;

  font-family: "Actor-Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  text-align: center;

  color: #ffffff;
}

.uzb__text h1 {
  font-family: "Wulkan Display Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
  line-height: 133px;

  padding-top: 16px;

  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}

.btn__uzb {
  margin-top: 10px;
  justify-content: center;
  text-align: center;
}

.uzb__button {
  border: 2px solid #fff;
  background-color: transparent;
  border-radius: 44px;
  padding: 16px 32px;
  cursor: pointer;

  font-family: "gilroy-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 168.5%;

  color: #ffffff;
}

.uzb__location {
  margin-top: 42px;
  display: flex;
  gap: 20px;
  justify-content: left;
  align-items: center;
}

.uzb__location i {
  color: #fff;
  font-size: 20px;
}

.uzb__location p {
  font-family: "gilroy-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;

  text-align: center;

  color: #ffffff;
}

.btn__buttom {
  display: block;
  margin-bottom: -40px;
  width: 137px;
  height: 137px;
  text-align: center;
}

.button__border1 {
  border-radius: 50%;
  border: 1px dashed rgba(255, 255, 255, 0.26);
}

.button__border2 {
  margin: 43px;
  border-radius: 50%;
  border: 1px dashed #c4c4c4;
}

.button__border2 i {
  color: #fff;
  margin: 8px;
  font-size: 20px;
}

.uzb__content__button {
  display: flex;
  justify-content: start;
}

.uzb__content__button2 {
  display: flex;
  z-index: 60;
  left: 40%;
  justify-content: center;
}

/* !overview */

.overview {
  background: #263238;
  padding-top: 100px;
  padding-bottom: 668px;
}

.overview__content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.overview__left {
  width: 40%;
}

.overview__title {
  font-family: "gilroy-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 171%;

  text-align: start;

  color: #ffffff;
}

.overview__subtitle {
  margin-top: 16px;
  font-family: "Wulkan Display Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 66px;
  text-transform: uppercase;

  color: #ffffff;
}

.overview__text h1 {
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}

.overview__text {
  margin-top: 31px;
  font-family: "gilroy-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 171%;

  color: #e0e0e0;
}

.overview__right {
  display: flex;
  text-align: right;
  position: relative;
}

/* .overview_img {
  position: absolute;
} */

.overview_img2 {
  z-index: 5;
  align-items: center;
}

.overview_img2 img {
  margin-top: 230px;
  margin-right: -177px;
}

.overview__list {
  margin-top: 100px;
}

.over_list_content {
  display: flex;
  gap: 364px;
}

.over_list_left h1,
.over_list_right h1 {
  font-family: "Wulkan Display Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 99%;

  text-transform: uppercase;

  color: #ffffff;
}

.over__border {
  margin-top: 52px;
  border: 2px solid #ffffff;
}

.over_item {
  margin-top: 42px;
  display: block;
}

.over_item li {
  position: relative;
  font-family: "gilroy-regular";
  font-style: normal;
  padding-left: 16px;
  font-weight: 400;
  font-size: 20px;
  line-height: 99%;
  margin-top: 19px;
  color: #ffffff;
}

.over_item li:after {
  content: "";
  position: absolute;
  left: 0;
  top: 7px;
  width: 9px;
  height: 9px;
  background: #ff794d;
}

/* !silk */

.silk {
  padding-bottom: 261px;
}

.silk__img {
  display: flex;
  gap: 55px;
  position: relative;
}

.silk__img1,
.silk__img2 {
  margin-top: -30%;
}

.silk__img1 img {
  width: 573px;
}

.silk__img2 img {
  overflow: hidden;
}

.silk__title {
  margin-top: 109px;
  font-family: "Wulkan Display Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 135%;

  text-align: center;

  color: #263238;
}

.silk__title p {
  font-family: "Wulkan Display Medium Italic";
  font-style: italic;
  font-weight: 500;
  font-size: 64px;
  line-height: 135%;

  text-align: center;

  color: #263238;
}

.silk__text {
  margin-top: 197px;
  display: grid;
  gap: 168px;
  grid-template-columns: 1fr 1fr 1fr;
}

.silk__text1,
.silk__text2,
.silk__text3 {
  font-family: "gilroy-regular";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 171%;
  /* or 41px */

  text-align: center;

  color: #263238;
}

.silk__text1 p,
.silk__text2 p,
.silk__text3 p {
  font-weight: 700;
}

.silk__text1,
.silk__text2 {
  border-right: 2px dashed #ff794d;
}

/* !path */

.path {
  background-color: #fff2f2;
  background-image: url(/img/Vector\ 9.png);
  background-repeat: no-repeat;
  background-position: 20%;
  padding-bottom: 41px;
}

.path2 {
  background-color: #fff2f2;
  padding-top: 300px;
  padding-bottom: 261px;
}

.path__buttom {
  display: block;
  background: #fff2f2;
  margin-top: -85px;
  border-radius: 50%;
  width: 168px;
  height: 168px;
  text-align: center;
}

.path__border1 {
  padding: 17px;
}

.path__border2 {
  border-radius: 50%;
  border: 1px dashed #c4c4c4;
}

.path__start {
  font-family: "gilroy-regular";
  font-style: normal;
  padding: 45px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;

  color: #263238;
}

.path__vector {
  margin-top: -32px;
  margin-left: 55px;
}

.path__content {
  margin-top: 300px;
  margin-bottom: 261px;
  display: flex;
  gap: 341px;
}

.path__content2 {
  display: flex;
  justify-content: space-between;
}

.path__left p {
  font-family: "Wulkan Display Regular";
  font-style: italic;
  font-weight: 400;
  font-size: 96px;
  line-height: 99%;

  color: #263238;
}

.path__left {

  background: #fff2f2;
  z-index: 5;

  font-family: "Wulkan Display Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
  line-height: 99%;
  /* or 95px */

  color: #263238;
}

.path__right {
  width: 35%;
}

.path__right p {
  font-family: "gilroy-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 171%;
  /* or 41px */

  color: #263238;
}

.path__img img {
  width: 100%;
  height: auto;
}

/* !footer */

.footer {
  padding-top: 120px;
  padding-bottom: 115px;
  background-color: #263238;
  background-image: url(/img/ornament.png);
  background-position: left;
  background-repeat: no-repeat;
}

.footer__content {
  display: grid;
  gap: 250px;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer__link {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;
}

.footer__pod_link {
  display: flex;
  flex-direction: column;
  margin-top: 117px;
  align-items: flex-start;
  padding: 0px;
  gap: 13px;
}

.footer__link h2,
.footer__info h2 {
  font-family: "BebasNeue Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 8px;

  color: #ffffff;
}

.footer__pod_link a {
  font-family: "BebasNeue Regular";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;

  color: #ffffff;
}

.footer__item {
  display: block;
  margin-top: 10px;
}

.footer__item li a {
  font-family: "gilroy-regular";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  color: #ffffff;
}

.footer__logo img {
  margin-bottom: 45px;
}

.footer__call a,
.footer__email a,
.footer__find a {
  font-family: "gilroy-regular";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  color: #ffffff;
}

.footer__call,
.footer__email {
  margin-bottom: 40px;
}
